@use "variables" as *;
@use "mixins" as *;

.root {
   @include blue-button;
   --opacity: 1;
   --spanDisplay: block;
   --animationDisplay: none;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 280px;
   height: 35px;
   opacity: var(--opacity);
   margin: 0 auto;
   span {
      display: var(--spanDisplay);
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 12px;
   }
   &::after {
      content: "";
      display: var(--animationDisplay);
      position: absolute;
      width: 15px;
      height: 15px;
      border: 2px solid $color-white;
      border-top-color: transparent;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: loading 1s infinite linear;
      @keyframes loading {
         to {
            transform: translate(-50%, -50%) rotate(360deg);
         }
      }
   }
   &--loading {
      --opacity: 0.6;
      --spanDisplay: none;
      --animationDisplay: block;
      user-select: none;
      cursor: progress;
   }
}
