@use "variables";
@use "mixins";
@use "breakpoints" as media;

.root {
   background-color: variables.$color-white;
   height: 50px;
}

.container {
   @include mixins.layout-main(0);
   @include mixins.flex-between;
   height: inherit;
}

.links {
   --gap: 10px;
   display: flex;
   gap: var(--gap);
   @include media.break(tablet) {
      --gap: 20px;
   }
}

.link {
   // Link
   --width: 30px;
   --colorAndFill: #{variables.$color-primary};
   // Text
   --textDisplay: none;
   display: flex;
   align-items: center;
   svg path {
      fill: var(--colorAndFill);
   }
   a {
      display: inherit;
      align-items: inherit;
      justify-content: center;
      gap: 5px;
      height: 30px;
      width: var(--width);
      span {
         display: var(--textDisplay);
         font-size: 0.8125rem;
         font-weight: 500;
         line-height: 12px;
         text-transform: capitalize;
         color: var(--colorAndFill);
      }
   }
   &:hover {
      --colorAndFill: #{variables.$color-gray};
   }
   @include media.break(mobile) {
      --textDisplay: block;
      --width: fit-content;
   }
}

.profileImg {
   border-radius: 50%;
}
