@use "variables" as *;

.logo {
	display: flex;
	align-items: center;
	span {
		margin-left: 5px;
		font-size: 1.25rem;
		font-weight: 600;
		letter-spacing: -0.05em;
		line-height: 15px;
	}
	svg path {
		&:nth-child(odd) {
			fill: $logoLightGray;
		}
		&:nth-child(even) {
			fill: $color-primary;
		}
	}
	&--white {
		color: $color-white;
	}
}

.navbar {
	--nav-hamburger: block;
	--nav-display: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	&__nav {
		display: var(--nav-display);
		ul {
			display: flex;
		}
		&__li {
			list-style: none;
			display: flex;
			align-items: center;
			&:not(:last-child) {
				margin-right: 20px;
				font-size: 0.8125rem;
				line-height: 10px;
				text-transform: uppercase;
			}
			&:last-child a {
				display: flex;
				align-items: center;
				height: 40px;
				padding: 0 10px;
				background-color: $color-secondary;
				box-shadow: 0px 2px 6px $grayBoxShadow;
				border: 1px solid $borderGrayColor;
				border-radius: 2px;
				line-height: 10px;
				transition: background-color 400ms ease-in-out;
				span {
					font-weight: 500;
					font-size: 0.875rem;
					text-transform: capitalize;
					color: $color-white;
					margin-right: 13px;
				}
				svg path {
					stroke: $color-white;
				}
				&:hover {
					background-color: $color-primary;
				}
			}
		}
	}
	&__hamburger {
		display: var(--nav-hamburger);
		svg path {
			stroke: $color-primary;
		}
	}
	@media (min-width: 850px) {
		--nav-hamburger: none;
		--nav-display: block;
	}
}
