@use "variables" as *;
@use "mixins";

.root {
   @include mixins.layout-main(30px);
}

@mixin footer-p {
   font-size: 0.75rem;
   line-height: 9px;
   text-transform: capitalize;
   // color: $color-primary;
}

.redirection {
   @include mixins.loginSignCard(0 auto, 20px 0, 20px 0);
   p {
      @include footer-p;
      text-align: center;
      a {
         margin-left: 5px;
         color: $color-secondary;
      }
   }
}

.links {
   display: flex;
   justify-content: center;
   gap: 30px;
   padding: 100px 0;
   a {
      @include footer-p;
   }
}
