@use "variables" as *;

.root {
   position: relative;
   margin-bottom: 20px;
}

.loginPasswordLabel {
   display: flex;
   align-items: center;
   justify-content: space-between;
   a {
      font-size: 0.75rem;
      line-height: 10px;
      text-transform: capitalize;
      color: $color-secondary;
   }
}

.label {
   font-size: 0.75rem;
   line-height: 10px;
   font-weight: 700;
   text-transform: capitalize;
   color: $color-primary;
}

@mixin error {
   --borderColor: transparent;
   border: 1px solid var(--borderColor);
   &--error {
      --borderColor: #{$error-color};
   }
}

@mixin sharedInput {
   padding: 10px;
   color: $color-primary;
   padding: 10px;
   font-size: 0.95rem;
   font-weight: 500;
}

.input {
   @include error;
   @include sharedInput;
   width: 100%;
   height: 35px;
   margin-top: 10px;
   background-color: $input-bg;
   border-radius: 4px;
}

.password {
   @include error;
   display: flex;
   align-items: center;
   height: 35px;
   margin-top: 10px;
   background-color: $input-bg;
   border-radius: 4px;
}

.password__input {
   @include sharedInput;
   height: inherit;
   border: 0;
   background-color: transparent;
   flex: 1;
}

.password__button {
   display: inherit;
   align-items: inherit;
   height: inherit;
   padding: 0 5px;
   svg path {
      fill: $color-primary;
   }
}
