@use "variables" as *;

.logo {
	margin-bottom: 20px;
	text-align: center;
	&__name {
		margin-top: 10px;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 27px;
		text-transform: capitalize;
		letter-spacing: -0.07em;
		color: $color-primary;
	}
}
