@use "variables" as *;

.spinner {
   position: relative;
   height: 100vh;
   &::after {
      content: "";
      position: absolute;
      border: 5px solid $color-secondary;
      width: 20px;
      border-top-color: #286efa25;
      height: 20px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: loading 1.3s infinite cubic-bezier(0.77, 0, 0.18, 1);
   }
}
@keyframes loading {
   to {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}
