@use "variables.module";

@mixin edges($direction) {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50px;
	background-image: linear-gradient(to $direction, rgba(255, 255, 255, 0), variables.$color-white);
	z-index: 1;
}

.wrapper {
	position: relative;
	margin-top: 30px;
	overflow-x: hidden;
	&:before {
		@include edges(left);
		left: 0;
	}
	&:after {
		@include edges(right);
		right: 0;
	}
}

.svgs {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 30px;
	animation: slider 60s linear infinite;
	svg path {
		fill: variables.$color-gray;
	}
}

@keyframes slider {
	100% {
		transform: translateX(-50.6%);
	}
}
