@use "variables.module";

.root {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.callout__image {
	--gtc: 12;
	--order: 1;
	position: relative;
	grid-column: span var(--gtc);
	order: var(--order);
	height: 382px;
	@media (min-width: 750px) {
		--gtc: 6;
		&--right {
			--order: 2;
		}
	}
}

@mixin font($size, $weight, $height, $color) {
	font-size: #{$size}px;
	font-weight: $weight;
	line-height: #{$height}px;
	color: $color;
	text-transform: capitalize;
	&:not(button) {
		text-align: center;
	}
}

.callout__details {
	--gtc: 12;
	--order: 2;
	grid-column: span var(--gtc);
	order: var(--order);
	height: 382px;
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 30px;
		padding: 0 10px;
		height: 100%;
		h2 {
			@include font(35, 700, 58, variables.$color-primary);
		}
		p {
			@include font(18, 400, 29, variables.$color-primary);
		}
		button {
			@include font(16, 600, 18, variables.$color-white);
			background-color: variables.$color-secondary;
			box-shadow: 0px 2px 6px variables.$grayBoxShadow;
			border: 1px solid variables.$borderGrayColor;
			border-radius: 20px 0px;
			padding: 16px 25px;
			transition: background-color 200ms ease-in-out;
			&:hover {
				background-color: variables.$color-primary;
			}
		}
	}
	@media (min-width: 750px) {
		--gtc: 6;
		&--right {
			--order: 1;
		}
	}
}
