@use "variables.module";
@use "home.module";

.root {
	padding: 4px 0 0 4px;
	@include home.card;
}

.job {
	width: 261px;
}

.testimonial {
	width: 100%;
}

.top {
	display: flex;
	align-items: center;
	gap: 5px;
	&__img {
		border-radius: 50%;
	}
	&__titleandcname {
		font-size: 0.7rem;
		text-transform: capitalize;
		h3 {
			width: 215px;
			margin-bottom: 2px;
			font-weight: 700;
			line-height: 16px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		p {
			line-height: 10px;
			color: variables.$color-gray;
		}
	}
}

.details {
	padding: 20px 0 19px 10px;
	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
		span {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: 0.75rem;
			line-height: 12px;
			text-transform: capitalize;
			color: variables.$color-gray;
		}
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

.message {
	padding: 20px 14px 19px 10px;
	font-size: 0.75rem;
	line-height: 16px;
	text-transform: capitalize;
	color: variables.$color-gray;
}
