@use "variables" as *;
@use "mixins";

.root {
   --height: 414px;
   position: relative;
   height: var(--height);
   background-color: $bColor-secondary;
   border: 1px solid $borderGrayColor;
   &,
   img {
      border-radius: 2px;
   }
   &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: $heroBg;
      z-index: 1;
   }
   @media (min-width: 750px) {
      --height: 536px;
   }
}

.hero {
   --title-margin-bottom: 40px;
   --title-font-size: 1.875rem;
   --title-line-height: 36px;
   --link-padding: 20px 22px;
   --link-font-size: 0.875rem;
   --link-line-height: 11px;
   z-index: 2;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   &__title {
      margin-bottom: var(--title-margin-bottom);
      text-align: center;
      font-size: var(--title-font-size);
      font-weight: 800;
      line-height: var(--title-line-height);
      text-transform: capitalize;
      color: $color-primary;
   }
   &__link {
      @include mixins.blue-button;
      display: block;
      width: fit-content;
      margin: 0 auto;
      border-radius: 20px 0px;
      padding: var(--link-padding);
      font-weight: 700;
      font-size: var(--link-font-size);
      line-height: var(--link-line-height);
      letter-spacing: -0.05em;
   }
   @media (min-width: 750px) {
      --title-line-height: 58px;
      --title-font-size: 3rem;
      --title-margin-bottom: 50px;
      --link-padding: 26px 28px;
      --link-line-height: 18px;
      --link-font-size: 1.5rem;
   }
}
