@use "variables" as *;
@use "mixins";

.wrapper {
	position: relative;
	margin-top: 30px;
	overflow-x: hidden;
	&::before {
		@include mixins.edges(left);
	}
	&::after {
		@include mixins.edges(right);
	}
}

.svgs {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 100px;
	animation: slider 70s linear infinite;
	svg path {
		fill: $color-primary;
	}
	&:hover {
		animation-play-state: paused;
	}
	&__svg {
		position: relative;
		span {
			display: none;
			position: absolute;
			width: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: $color-white;
			text-align: center;
			color: $color-primary;
			font-size: 0.7rem;
			font-weight: 700;
			text-transform: uppercase;
			cursor: default;
		}
		&:hover {
			span {
				display: block;
			}
		}
	}
}

@keyframes slider {
	100% {
		transform: translateX(-51.25%);
	}
}
