@use "variables" as *;

@mixin edges($direction) {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	#{$direction}: 0;
	width: 50px;
	background-image: linear-gradient(to $direction, transparent, $color-white);
	z-index: 1;
}

.wrapper {
	position: relative;
	margin-top: 30px;
	overflow-x: hidden;
	&::before {
		@include edges(left);
	}
	&::after {
		@include edges(right);
	}
}

.svgs {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: 100px;
	animation: slider 70s linear infinite;
	svg path {
		fill: $color-primary;
	}
	&:hover {
		animation-play-state: paused;
	}
}

.svgs__svg {
	position: relative;
	span {
		display: none;
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $color-white;
		text-align: center;
		color: $color-primary;
		font-size: 0.7rem;
		font-weight: 700;
		text-transform: uppercase;
		cursor: default;
	}
	&:hover {
		span {
			display: block;
		}
	}
}

@keyframes slider {
	100% {
		transform: translateX(-51.25%);
	}
}
