@use "variables" as *;
@use "breakpoints" as media;

.stats {
   --translateY: 100px;
   --flex-direction: column;
   --gap: 70px;
   display: flex;
   flex-direction: var(--flex-direction);
   align-items: center;
   justify-content: space-between;
   gap: var(--gap);
   text-transform: capitalize;
   transform: translateY(var(--translateY));
   transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
   &--reveal {
      --translateY: 0;
   }
   @include media.break(tablet) {
      --flex-direction: row;
      --gap: none;
   }
}

.name {
   font-size: 3rem;
   font-weight: 700;
   line-height: 37px;
   letter-spacing: -0.09em;
}

.number {
   display: block;
   margin: -6px 0 0 5px;
   font-size: 1.5rem;
   font-weight: 300;
   line-height: 35px;
   text-align: center;
   letter-spacing: 0.225em;
   color: $color-white;
   background-color: $color-primary;
}
