@use "variables" as *;
@use "mixins";

.testimonials {
   --gtc: 3;
   --more-display: block;
   --height: 300px;
   --overflow: hidden;
   position: relative;
   display: grid;
   grid-template-columns: repeat(var(--gtc), 1fr);
   gap: 12px;
   margin-top: 30px;
   height: var(--height);
   overflow: var(--overflow);
   @media (min-width: 750px) {
      --gtc: 6;
   }
   @media (min-width: 1070px) {
      --gtc: 12;
   }
   &__column {
      grid-column: span 3;
      display: flex;
      flex-direction: column;
      gap: 12px;
   }
   &__more__wrapper {
      display: var(--more-display);
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 200px;
      background-image: linear-gradient(to top, $color-white, transparent);
   }
   &__more__button {
      @include mixins.blue-button;
      display: var(--more-display);
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 25px;
      font-weight: 600;
      font-size: 0.875rem;
   }
   &--show {
      --more-display: none;
      --height: fit-content;
      --overflow: none;
   }
}
