.main {
	--padding: 0 10px;
	padding: var(--padding);
	max-width: 1080px;
	margin: 51px auto 0;
	@media (min-width: 1080px) {
		--padding: 0;
	}
}

.signMain {
	--padding: 100px 10px;
	max-width: 1080px;
	margin: 0 auto;
	padding: var(--padding);
	@media (min-width: 1080px) {
		--padding: 100px 0 100px;
	}
}
