@use "breakpoints" as media;

.container {
   --margin-top: 70px;
   margin-top: var(--margin-top);
   @include media.break(tablet) {
      --margin-top: 100px;
   }
}

// Title component at @components/pages/home/Title
.title {
   font-weight: 700;
   font-size: 1.125rem;
   line-height: 22px;
   text-transform: capitalize;
}
