@use "variables" as *;
@use "breakpoints" as media;

// layouts
@mixin layout-main($margin-top, $margin-bottom: 0) {
   --padding: 0 10px;
   padding: var(--padding);
   max-width: 1080px;
   margin: $margin-top auto $margin-bottom;
   @media (min-width: 1080px) {
      --padding: 0;
   }
}

// common
@mixin flex-between {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

@mixin blue-button {
   background-color: $color-secondary;
   box-shadow: 0px 2px 6px $grayBoxShadow;
   border: 1px solid $borderGrayColor;
   transition: background-color 200ms ease-in-out;
   border-radius: 2px;
   color: $color-white !important;
   text-transform: capitalize;
   &:focus {
      background-color: $color-primary;
   }
}

@mixin card {
   background-color: $bColor-secondary;
   border: 1px solid $borderGrayColor;
   border-radius: 4px;
   box-shadow: 0px 2px 6px 0 $grayBoxShadow;
}

@mixin shared-button-style {
   padding: 10px 15px;
   background-color: $bColor-secondary;
   border: 1px solid $borderGrayColor;
   border-radius: 4px;
}

// callouts-section
@mixin font($size, $weight, $height, $color) {
   font-size: #{$size};
   font-weight: $weight;
   line-height: #{$height};
   color: $color;
   text-transform: capitalize;
   &:not(button) {
      text-align: center;
   }
}

// icons-section
@mixin edges($direction) {
   @if $direction != left and $direction != right {
      @error "Property #{$direction} must be either left or right.";
   }
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   #{$direction}: 0;
   width: 50px;
   background-image: linear-gradient(to $direction, transparent, $color-white);
   z-index: 1;
}

// footer-section
@mixin form-font {
   font-size: 0.875rem;
   line-height: 16px;
   font-weight: 400;
   color: $color-gray;
}

@mixin footer-font($weight: 400, $color: $logoLightGray) {
   font-weight: $weight;
   font-size: 0.75rem;
   line-height: 10px;
   text-transform: capitalize;
   color: $color;
}

// login/signup
@mixin loginSignCard($margin, $padding, $resPadding) {
   @include card;
   --with: 100%;
   --padding: #{$resPadding};
   margin: $margin;
   width: var(--width);
   padding: var(--padding);
   @include media.break(mobile) {
      --width: 450px;
      --padding: #{$padding};
   }
}
