@use "fonts";
@use "variables" as *;

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	color: $color-primary;
	background-color: $bColor-primary;
	font-size: 1rem;
	font-weight: 400;
	font-style: normal;
}

button {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 0;
	font-family: inherit;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
	margin: 0;
}
