$color-primary: #2b2b2b;
$color-secondary: #3465cf;
$bColor-primary: #fff;
$bColor-secondary: #f5f5f5;

:export {
	colorPrimary: $color-primary;
	colorSecondary: $color-secondary;
	bColorPrimary: $bColor-primary;
	bColorSecondary: $bColor-secondary;
}
